.buttonNav {
    background-color: white; /* Green */
	background: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
}

.navforum {
    background-color: transparent;
    color: red;
    border: 0px solid #000000;
	position:absolute;
	top:35px;
	right:480px;
	
	font-family: 'Allerta Stencil';
	
	 transition: all 1.0s ease 0s;
	
}
.navforum:hover {
    background-color: #C10000;
    color: black;
}
.navforum {border-radius: 8px;}
/*News Button*/
.navforum2 {
    background-color: transparent;
    color: red;
    border: 0px solid #000000;
	position:absolute;
	top:35px;
	right:250px;
	
	font-family: 'Allerta Stencil';
	
	 transition: all 1.0s ease 0s;
	
}
.navforum2:hover {
    background-color: #C10000;
    color: black;
}
.navforum2 {border-radius: 8px;}
/*Servers Button*/
.navforum3 {
    background-color: transparent;
    color: red;
    border: 0px solid #000000;
	position:absolute;
	top:35px;
	right:357px;
	
	font-family: 'Allerta Stencil';
	
	 transition: all 1.0s ease 0s;
	
}
.navforum3:hover {
    background-color: #C10000;
    color: black;
}
.navforum3 {border-radius: 8px;}









#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
.container h1 {
    color: white;
}



#patreon {
	position: relative;
	top: -70px;
	left: 1360px;
	
	width: 100px;
	height: 200px;
}




