@font-face {
  font-family: 'Stencil';
  font-weight: 100;
  font-style: normal;
  src: url(http://fonts.gstatic.com/s/stardosstencil/v6/ygEOyTW9a6u4fi4OXEZeTHyjZGU_SYMIAZWjSGDHnGA.woff2);
}
.banner {
    display: inline;
    width: 100%;
    height: 96px;
    background-color: black;
}

.banner  a {
    margin: auto;
    word-spacing: 5%;
    font-family: "Stencil";
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0);
    color: red;
    list-style-type: none;
    padding: 14px 14px;
    transition: 0.3s;
    text-decoration: none;
}
.banner a:hover {
  color: #000000;
  background-color: #ff0000;
}
