@font-face {
  font-family: 'Stencil';
  font-weight: 100;
  font-style: normal;

  src: url(http://fonts.gstatic.com/s/stardosstencil/v6/ygEOyTW9a6u4fi4OXEZeTHyjZGU_SYMIAZWjSGDHnGA.woff2);
}
ul.logo {
  position: fixed;
  top: 0;
  float:left;
  overflow: hidden;

  width: 100%; /* Full width */
  margin: 0;
  padding: 0;

  list-style-type: none;

  background-color: rgba(0, 0, 0, 0);
}
ul.topnav {
	  position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */

    overflow: hidden;

    width: 100%; /* Full width */
    margin: 0;
    padding: 0;

    list-style-type: none;

    background-color: rgba(0, 0, 0, 0);
}

/* Float the list items side by side */
ul.topnav li {
    float: right;
  }

/* Style the links inside the list items */
ul.topnav li a {
    display: inline;

    padding: 14px 14px;

    transition: 0.3s;
    text-align: center;
    text-decoration: none;

    color: #ff0000;

    font-family: "Stencil";
    font-size: 32px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {color: #000000;background-color: #ff0000;}
